/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Icons
----------------------------------------- */
@font-face {
    font-family: 'throrinstudio';
    src:url('../fonts/throrinstudio.eot');
    src:url('../fonts/throrinstudio.eot?#iefix') format('embedded-opentype'),
    url('../fonts/throrinstudio.woff') format('woff'),
    url('../fonts/throrinstudio.ttf') format('truetype'),
    url('../fonts/throrinstudio.svg#throrinstudio') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'throrinstudio';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-navigation-accept, .icon-navigation-cancel, .icon-navigation-collapse, .icon-navigation-expand, .icon-navigation-forward, .icon-navigation-next-item, .icon-navigation-previous-item, .icon-navigation-refresh, .icon-action-about, .icon-action-help, .icon-action-search, .icon-action-settings, .icon-rating-bad, .icon-rating-favorite, .icon-rating-good, .icon-rating-half-important, .icon-rating-important, .icon-rating-not-important, .icon-collections-cloud, .icon-collections-collection, .icon-collections-go-to-today, .icon-collections-labels, .icon-collections-new-label, .icon-collections-sort-by-size, .icon-collections-view-as-grid, .icon-collections-view-as-list, .icon-content-attachment, .icon-content-backspace, .icon-content-copy, .icon-content-cut, .icon-content-discard, .icon-content-edit, .icon-content-email, .icon-content-event, .icon-content-import-export, .icon-content-merge, .icon-content-new, .icon-content-new-attachment, .icon-content-new-email, .icon-content-new-event, .icon-content-new-picture, .icon-content-paste, .icon-content-picture, .icon-content-read, .icon-content-remove, .icon-content-save, .icon-content-select-all, .icon-content-split, .icon-content-undo, .icon-content-unread, .icon-social-add-group, .icon-social-add-person, .icon-social-cc-bcc, .icon-social-chat, .icon-social-forward, .icon-social-group, .icon-social-person, .icon-social-reply, .icon-social-reply-all, .icon-social-send-now, .icon-social-share, .icon-location-directions, .icon-location-map, .icon-location-place, .icon-location-web-site, .icon-images-crop, .icon-images-rotate-left, .icon-images-rotate-right, .icon-images-slideshow, .icon-av-add-to-queue, .icon-av-download, .icon-av-fast-forward, .icon-av-full-screen, .icon-av-make-available-offline, .icon-av-next, .icon-av-pause, .icon-av-pause-over-video, .icon-av-play, .icon-av-play-over-video, .icon-av-previous, .icon-av-repeat, .icon-av-replay, .icon-av-return-from-full-screen, .icon-av-rewind, .icon-av-shuffle, .icon-av-stop, .icon-av-upload, .icon-device-access-accounts, .icon-device-access-add-alarm, .icon-device-access-alarms, .icon-device-access-battery, .icon-device-access-bightness-low, .icon-device-access-bluetooth, .icon-device-access-bluetooth-connected, .icon-device-access-bluetooth-searching, .icon-device-access-brightness-auto, .icon-device-access-brightness-high, .icon-device-access-brightness-medium, .icon-device-access-call, .icon-device-access-camera, .icon-device-access-data-usage, .icon-device-access-dial-pad, .icon-device-access-end-call, .icon-device-access-flash-automatic, .icon-device-access-flash-off, .icon-device-access-flash-on, .icon-device-access-location-found, .icon-device-access-location-off, .icon-device-access-location-searching, .icon-device-access-mic, .icon-device-access-mic-muted, .icon-device-access-network-cell, .icon-device-access-network-wifi, .icon-device-access-new-account, .icon-device-access-not-secure, .icon-device-access-ring-volume, .icon-device-access-screen-locked-to-landscape, .icon-device-access-screen-locked-to-portrait, .icon-device-access-screen-rotation, .icon-device-access-sd-storage, .icon-device-access-secure, .icon-device-access-storage, .icon-device-access-switch-camera, .icon-device-access-switch-video, .icon-device-access-time, .icon-device-access-usb, .icon-device-access-video, .icon-device-access-volume-muted, .icon-device-access-volume-on, .icon-alerts-and-states-airplane-mode-off, .icon-alerts-and-states-airplane-mode-on, .icon-alerts-and-states-error, .icon-alerts-and-states-warning, .icon-hardware-computer, .icon-hardware-dock, .icon-hardware-gamepad, .icon-hardware-headphones, .icon-hardware-headset, .icon-hardware-keyboard, .icon-hardware-mouse, .icon-hardware-phone, .icon-picassa, .icon-picassa-2, .icon-flickr, .icon-flickr-2, .icon-flickr-3, .icon-flickr-4, .icon-lanyrd, .icon-vimeo2, .icon-vimeo, .icon-vimeo-2, .icon-youtube, .icon-youtube-2, .icon-feed, .icon-feed-2, .icon-feed-3, .icon-twitter, .icon-twitter-2, .icon-twitter-3, .icon-dribbble, .icon-dribbble-2, .icon-forrst, .icon-forrst-2, .icon-deviantart, .icon-deviantart-2, .icon-steam, .icon-steam-2, .icon-github, .icon-github-2, .icon-github-3, .icon-github-4, .icon-github-5, .icon-wordpress, .icon-wordpress-2, .icon-joomla, .icon-blogger, .icon-blogger-2, .icon-tumblr, .icon-tumblr-2, .icon-yahoo, .icon-apple, .icon-paypal, .icon-foursquare, .icon-foursquare-2, .icon-flattr, .icon-IcoMoon, .icon-safari, .icon-xing, .icon-xing-2, .icon-opera, .icon-IE, .icon-pinterest, .icon-pinterest-2, .icon-firefox, .icon-chrome, .icon-stackoverflow, .icon-stumbleupon, .icon-css3, .icon-html5, .icon-stumbleupon-2, .icon-delicious, .icon-html5-2, .icon-file-css, .icon-lastfm, .icon-lastfm-2, .icon-file-xml, .icon-file-powerpoint, .icon-linkedin, .icon-reddit, .icon-file-zip, .icon-file-excel, .icon-skype, .icon-soundcloud, .icon-file-word, .icon-file-openoffice, .icon-soundcloud-2, .icon-windows8, .icon-file-pdf, .icon-libreoffice, .icon-windows, .icon-yelp, .icon-android, .icon-console, .icon-qrcode, .icon-barcode, .icon-bookmark, .icon-close, .icon-checkmark, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-checkbox-partial, .icon-radio-checked, .icon-radio-unchecked, .icon-cloud-download, .icon-cloud-upload, .icon-tree, .icon-remove, .icon-wrench, .icon-cog, .icon-cogs, .icon-wand, .icon-bug, .icon-pie, .icon-stats, .icon-bars, .icon-office, .icon-podcast, .icon-feed-4, .icon-box-add, .icon-box-remove, .icon-download, .icon-upload, .icon-signup, .icon-print, .icon-action-overflow, .icon-navigation-back, .icon-tux, .icon-finder, .icon-instagram, .icon-google, .icon-google-plus, .icon-google-plus-2, .icon-google-plus-3, .icon-google-plus-4, .icon-paypal-2, .icon-paypal-3, .icon-dribbble-3, .icon-google-drive, .icon-facebook, .icon-facebook-2, .icon-facebook-3, .icon-rss, .icon-deviantart-3, .icon-amazon, .icon-appstore, .icon-pinterest-3, .icon-soundcloud-3, .icon-google-drive-2, .icon-android-2, .icon-instagram-2, .icon-play_store, .icon-tablet, .icon-tv, .icon-droplet, .icon-paint-format, .icon-linkedin-2 {
    font-family: 'throrinstudio';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-navigation-accept:before {
    content: "\e002";
}
.icon-navigation-cancel:before {
    content: "\e003";
}
.icon-navigation-collapse:before {
    content: "\e004";
}
.icon-navigation-expand:before {
    content: "\e005";
}
.icon-navigation-forward:before {
    content: "\e006";
}
.icon-navigation-next-item:before {
    content: "\e007";
}
.icon-navigation-previous-item:before {
    content: "\e008";
}
.icon-navigation-refresh:before {
    content: "\e009";
}
.icon-action-about:before {
    content: "\e010";
}
.icon-action-help:before {
    content: "\e011";
}
.icon-action-search:before {
    content: "\e012";
}
.icon-action-settings:before {
    content: "\e013";
}
.icon-rating-bad:before {
    content: "\e020";
}
.icon-rating-favorite:before {
    content: "\e021";
}
.icon-rating-good:before {
    content: "\e022";
}
.icon-rating-half-important:before {
    content: "\e023";
}
.icon-rating-important:before {
    content: "\e024";
}
.icon-rating-not-important:before {
    content: "\e025";
}
.icon-collections-cloud:before {
    content: "\e030";
}
.icon-collections-collection:before {
    content: "\e031";
}
.icon-collections-go-to-today:before {
    content: "\e032";
}
.icon-collections-labels:before {
    content: "\e033";
}
.icon-collections-new-label:before {
    content: "\e034";
}
.icon-collections-sort-by-size:before {
    content: "\e035";
}
.icon-collections-view-as-grid:before {
    content: "\e036";
}
.icon-collections-view-as-list:before {
    content: "\e037";
}
.icon-content-attachment:before {
    content: "\e040";
}
.icon-content-backspace:before {
    content: "\e041";
}
.icon-content-copy:before {
    content: "\e042";
}
.icon-content-cut:before {
    content: "\e043";
}
.icon-content-discard:before {
    content: "\e044";
}
.icon-content-edit:before {
    content: "\e045";
}
.icon-content-email:before {
    content: "\e046";
}
.icon-content-event:before {
    content: "\e047";
}
.icon-content-import-export:before {
    content: "\e048";
}
.icon-content-merge:before {
    content: "\e049";
}
.icon-content-new:before {
    content: "\e04a";
}
.icon-content-new-attachment:before {
    content: "\e04b";
}
.icon-content-new-email:before {
    content: "\e04c";
}
.icon-content-new-event:before {
    content: "\e04d";
}
.icon-content-new-picture:before {
    content: "\e04e";
}
.icon-content-paste:before {
    content: "\e04f";
}
.icon-content-picture:before {
    content: "\e050";
}
.icon-content-read:before {
    content: "\e051";
}
.icon-content-remove:before {
    content: "\e052";
}
.icon-content-save:before {
    content: "\e053";
}
.icon-content-select-all:before {
    content: "\e054";
}
.icon-content-split:before {
    content: "\e055";
}
.icon-content-undo:before {
    content: "\e056";
}
.icon-content-unread:before {
    content: "\e057";
}
.icon-social-add-group:before {
    content: "\e060";
}
.icon-social-add-person:before {
    content: "\e061";
}
.icon-social-cc-bcc:before {
    content: "\e062";
}
.icon-social-chat:before {
    content: "\e063";
}
.icon-social-forward:before {
    content: "\e064";
}
.icon-social-group:before {
    content: "\e065";
}
.icon-social-person:before {
    content: "\e066";
}
.icon-social-reply:before {
    content: "\e067";
}
.icon-social-reply-all:before {
    content: "\e068";
}
.icon-social-send-now:before {
    content: "\e069";
}
.icon-social-share:before {
    content: "\e06a";
}
.icon-location-directions:before {
    content: "\e070";
}
.icon-location-map:before {
    content: "\e071";
}
.icon-location-place:before {
    content: "\e072";
}
.icon-location-web-site:before {
    content: "\e073";
}
.icon-images-crop:before {
    content: "\e080";
}
.icon-images-rotate-left:before {
    content: "\e081";
}
.icon-images-rotate-right:before {
    content: "\e082";
}
.icon-images-slideshow:before {
    content: "\e083";
}
.icon-av-add-to-queue:before {
    content: "\e090";
}
.icon-av-download:before {
    content: "\e091";
}
.icon-av-fast-forward:before {
    content: "\e092";
}
.icon-av-full-screen:before {
    content: "\e093";
}
.icon-av-make-available-offline:before {
    content: "\e094";
}
.icon-av-next:before {
    content: "\e095";
}
.icon-av-pause:before {
    content: "\e096";
}
.icon-av-pause-over-video:before {
    content: "\e097";
}
.icon-av-play:before {
    content: "\e098";
}
.icon-av-play-over-video:before {
    content: "\e099";
}
.icon-av-previous:before {
    content: "\e09a";
}
.icon-av-repeat:before {
    content: "\e09b";
}
.icon-av-replay:before {
    content: "\e09c";
}
.icon-av-return-from-full-screen:before {
    content: "\e09d";
}
.icon-av-rewind:before {
    content: "\e09e";
}
.icon-av-shuffle:before {
    content: "\e09f";
}
.icon-av-stop:before {
    content: "\e0a0";
}
.icon-av-upload:before {
    content: "\e0a1";
}
.icon-device-access-accounts:before {
    content: "\e0b0";
}
.icon-device-access-add-alarm:before {
    content: "\e0b1";
}
.icon-device-access-alarms:before {
    content: "\e0b2";
}
.icon-device-access-battery:before {
    content: "\e0b3";
}
.icon-device-access-bightness-low:before {
    content: "\e0b4";
}
.icon-device-access-bluetooth:before {
    content: "\e0b5";
}
.icon-device-access-bluetooth-connected:before {
    content: "\e0b6";
}
.icon-device-access-bluetooth-searching:before {
    content: "\e0b7";
}
.icon-device-access-brightness-auto:before {
    content: "\e0b8";
}
.icon-device-access-brightness-high:before {
    content: "\e0b9";
}
.icon-device-access-brightness-medium:before {
    content: "\e0ba";
}
.icon-device-access-call:before {
    content: "\e0bb";
}
.icon-device-access-camera:before {
    content: "\e0bc";
}
.icon-device-access-data-usage:before {
    content: "\e0bd";
}
.icon-device-access-dial-pad:before {
    content: "\e0be";
}
.icon-device-access-end-call:before {
    content: "\e0bf";
}
.icon-device-access-flash-automatic:before {
    content: "\e0c0";
}
.icon-device-access-flash-off:before {
    content: "\e0c1";
}
.icon-device-access-flash-on:before {
    content: "\e0c2";
}
.icon-device-access-location-found:before {
    content: "\e0c3";
}
.icon-device-access-location-off:before {
    content: "\e0c4";
}
.icon-device-access-location-searching:before {
    content: "\e0c5";
}
.icon-device-access-mic:before {
    content: "\e0c6";
}
.icon-device-access-mic-muted:before {
    content: "\e0c7";
}
.icon-device-access-network-cell:before {
    content: "\e0c8";
}
.icon-device-access-network-wifi:before {
    content: "\e0c9";
}
.icon-device-access-new-account:before {
    content: "\e0ca";
}
.icon-device-access-not-secure:before {
    content: "\e0cb";
}
.icon-device-access-ring-volume:before {
    content: "\e0cc";
}
.icon-device-access-screen-locked-to-landscape:before {
    content: "\e0cd";
}
.icon-device-access-screen-locked-to-portrait:before {
    content: "\e0ce";
}
.icon-device-access-screen-rotation:before {
    content: "\e0cf";
}
.icon-device-access-sd-storage:before {
    content: "\e0d0";
}
.icon-device-access-secure:before {
    content: "\e0d1";
}
.icon-device-access-storage:before {
    content: "\e0d2";
}
.icon-device-access-switch-camera:before {
    content: "\e0d3";
}
.icon-device-access-switch-video:before {
    content: "\e0d4";
}
.icon-device-access-time:before {
    content: "\e0d5";
}
.icon-device-access-usb:before {
    content: "\e0d6";
}
.icon-device-access-video:before {
    content: "\e0d7";
}
.icon-device-access-volume-muted:before {
    content: "\e0d8";
}
.icon-device-access-volume-on:before {
    content: "\e0d9";
}
.icon-alerts-and-states-airplane-mode-off:before {
    content: "\e0e0";
}
.icon-alerts-and-states-airplane-mode-on:before {
    content: "\e0e1";
}
.icon-alerts-and-states-error:before {
    content: "\e0e2";
}
.icon-alerts-and-states-warning:before {
    content: "\e0e3";
}
.icon-hardware-computer:before {
    content: "\e0f0";
}
.icon-hardware-dock:before {
    content: "\e0f1";
}
.icon-hardware-gamepad:before {
    content: "\e0f2";
}
.icon-hardware-headphones:before {
    content: "\e0f3";
}
.icon-hardware-headset:before {
    content: "\e0f4";
}
.icon-hardware-keyboard:before {
    content: "\e0f5";
}
.icon-hardware-mouse:before {
    content: "\e0f6";
}
.icon-hardware-phone:before {
    content: "\e0f7";
}
.icon-picassa:before {
    content: "\e00d";
}
.icon-picassa-2:before {
    content: "\e00e";
}
.icon-flickr:before {
    content: "\e00f";
}
.icon-flickr-2:before {
    content: "\e014";
}
.icon-flickr-3:before {
    content: "\e015";
}
.icon-flickr-4:before {
    content: "\e016";
}
.icon-lanyrd:before {
    content: "\e017";
}
.icon-vimeo2:before {
    content: "\e018";
}
.icon-vimeo:before {
    content: "\e019";
}
.icon-vimeo-2:before {
    content: "\e01a";
}
.icon-youtube:before {
    content: "\e01b";
}
.icon-youtube-2:before {
    content: "\e01c";
}
.icon-feed:before {
    content: "\e01d";
}
.icon-feed-2:before {
    content: "\e01e";
}
.icon-feed-3:before {
    content: "\e01f";
}
.icon-twitter:before {
    content: "\e026";
}
.icon-twitter-2:before {
    content: "\e027";
}
.icon-twitter-3:before {
    content: "\e028";
}
.icon-dribbble:before {
    content: "\e02e";
}
.icon-dribbble-2:before {
    content: "\e02f";
}
.icon-forrst:before {
    content: "\e038";
}
.icon-forrst-2:before {
    content: "\e039";
}
.icon-deviantart:before {
    content: "\e03a";
}
.icon-deviantart-2:before {
    content: "\e03b";
}
.icon-steam:before {
    content: "\e03c";
}
.icon-steam-2:before {
    content: "\e03d";
}
.icon-github:before {
    content: "\e03e";
}
.icon-github-2:before {
    content: "\e03f";
}
.icon-github-3:before {
    content: "\e058";
}
.icon-github-4:before {
    content: "\e059";
}
.icon-github-5:before {
    content: "\e05a";
}
.icon-wordpress:before {
    content: "\e05b";
}
.icon-wordpress-2:before {
    content: "\e05c";
}
.icon-joomla:before {
    content: "\e05d";
}
.icon-blogger:before {
    content: "\e05e";
}
.icon-blogger-2:before {
    content: "\e05f";
}
.icon-tumblr:before {
    content: "\e06b";
}
.icon-tumblr-2:before {
    content: "\e06c";
}
.icon-yahoo:before {
    content: "\e06d";
}
.icon-apple:before {
    content: "\e06f";
}
.icon-paypal:before {
    content: "\e077";
}
.icon-foursquare:before {
    content: "\e078";
}
.icon-foursquare-2:before {
    content: "\e079";
}
.icon-flattr:before {
    content: "\e07a";
}
.icon-IcoMoon:before {
    content: "\e07b";
}
.icon-safari:before {
    content: "\e07c";
}
.icon-xing:before {
    content: "\e07d";
}
.icon-xing-2:before {
    content: "\e07e";
}
.icon-opera:before {
    content: "\e07f";
}
.icon-IE:before {
    content: "\e084";
}
.icon-pinterest:before {
    content: "\e085";
}
.icon-pinterest-2:before {
    content: "\e086";
}
.icon-firefox:before {
    content: "\e087";
}
.icon-chrome:before {
    content: "\e088";
}
.icon-stackoverflow:before {
    content: "\e089";
}
.icon-stumbleupon:before {
    content: "\e08a";
}
.icon-css3:before {
    content: "\e08b";
}
.icon-html5:before {
    content: "\e08c";
}
.icon-stumbleupon-2:before {
    content: "\e08d";
}
.icon-delicious:before {
    content: "\e08e";
}
.icon-html5-2:before {
    content: "\e08f";
}
.icon-file-css:before {
    content: "\e0a2";
}
.icon-lastfm:before {
    content: "\e0a3";
}
.icon-lastfm-2:before {
    content: "\e0a4";
}
.icon-file-xml:before {
    content: "\e0a5";
}
.icon-file-powerpoint:before {
    content: "\e0a6";
}
.icon-linkedin:before {
    content: "\e0a7";
}
.icon-reddit:before {
    content: "\e0a8";
}
.icon-file-zip:before {
    content: "\e0a9";
}
.icon-file-excel:before {
    content: "\e0aa";
}
.icon-skype:before {
    content: "\e0ab";
}
.icon-soundcloud:before {
    content: "\e0ac";
}
.icon-file-word:before {
    content: "\e0ad";
}
.icon-file-openoffice:before {
    content: "\e0ae";
}
.icon-soundcloud-2:before {
    content: "\e0af";
}
.icon-windows8:before {
    content: "\e0da";
}
.icon-file-pdf:before {
    content: "\e0db";
}
.icon-libreoffice:before {
    content: "\e0dc";
}
.icon-windows:before {
    content: "\e0dd";
}
.icon-yelp:before {
    content: "\e0de";
}
.icon-android:before {
    content: "\e0df";
}
.icon-console:before {
    content: "\e0e4";
}
.icon-qrcode:before {
    content: "\e0e9";
}
.icon-barcode:before {
    content: "\e0ea";
}
.icon-bookmark:before {
    content: "\e0ec";
}
.icon-close:before {
    content: "\e0ed";
}
.icon-checkmark:before {
    content: "\e0ee";
}
.icon-checkbox-checked:before {
    content: "\e0ef";
}
.icon-checkbox-unchecked:before {
    content: "\e0f8";
}
.icon-checkbox-partial:before {
    content: "\e0f9";
}
.icon-radio-checked:before {
    content: "\e0fa";
}
.icon-radio-unchecked:before {
    content: "\e0fb";
}
.icon-cloud-download:before {
    content: "\e0fc";
}
.icon-cloud-upload:before {
    content: "\e0fd";
}
.icon-tree:before {
    content: "\e0fe";
}
.icon-remove:before {
    content: "\e103";
}
.icon-wrench:before {
    content: "\e105";
}
.icon-cog:before {
    content: "\e107";
}
.icon-cogs:before {
    content: "\e108";
}
.icon-wand:before {
    content: "\e109";
}
.icon-bug:before {
    content: "\e10a";
}
.icon-pie:before {
    content: "\e10b";
}
.icon-stats:before {
    content: "\e10c";
}
.icon-bars:before {
    content: "\e10d";
}
.icon-office:before {
    content: "\e10f";
}
.icon-podcast:before {
    content: "\e110";
}
.icon-feed-4:before {
    content: "\e111";
}
.icon-box-add:before {
    content: "\e112";
}
.icon-box-remove:before {
    content: "\e113";
}
.icon-download:before {
    content: "\e114";
}
.icon-upload:before {
    content: "\e115";
}
.icon-signup:before {
    content: "\e117";
}
.icon-print:before {
    content: "\e118";
}
.icon-action-overflow:before {
    content: "\e0e7";
}
.icon-navigation-back:before {
    content: "\e001";
}
.icon-tux:before {
    content: "\e06e";
}
.icon-finder:before {
    content: "\e074";
}
.icon-instagram:before {
    content: "\e029";
}
.icon-google:before {
    content: "\e0e5";
}
.icon-google-plus:before {
    content: "\e0e6";
}
.icon-google-plus-2:before {
    content: "\e000";
}
.icon-google-plus-3:before {
    content: "\e00a";
}
.icon-google-plus-4:before {
    content: "\e00b";
}
.icon-paypal-2:before {
    content: "\e076";
}
.icon-paypal-3:before {
    content: "\e075";
}
.icon-dribbble-3:before {
    content: "\e00c";
}
.icon-google-drive:before {
    content: "\e02d";
}
.icon-facebook:before {
    content: "\e02c";
}
.icon-facebook-2:before {
    content: "\e02b";
}
.icon-facebook-3:before {
    content: "\e02a";
}
.icon-rss:before {
    content: "\e101";
}
.icon-deviantart-3:before {
    content: "\e102";
}
.icon-amazon:before {
    content: "\e116";
}
.icon-appstore:before {
    content: "\e11a";
}
.icon-pinterest-3:before {
    content: "\e11b";
}
.icon-soundcloud-3:before {
    content: "\e11c";
}
.icon-google-drive-2:before {
    content: "\e11d";
}
.icon-android-2:before {
    content: "\e11e";
}
.icon-instagram-2:before {
    content: "\e11f";
}
.icon-play_store:before {
    content: "\e0eb";
}
.icon-tablet:before {
    content: "\e10e";
}
.icon-tv:before {
    content: "\e119";
}
.icon-droplet:before {
    content: "\e0ff";
}
.icon-paint-format:before {
    content: "\e100";
}
.icon-linkedin-2:before {
    content: "\e0e8";
}
.icons-social{ color: darkgrey; font-size: 30px; padding: 5px; line-height: 45px !important; }
.icons-social:hover{ color: #33B5E5; }
.icons-basic{ color: darkgray; font-size: 19px; }
.icons-search{ line-height: 20px; font-size: 23px; color: darkgrey; }
/* -----------------------------------------
    Global
----------------------------------------- */
body{
    background: #eaeaea; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #eaeaea 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeaea 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeaea 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeaea 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeaea 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

.show-940{ display: none !important; }
.hide-940{ display: inherit !important; }
.txt-right{ text-align: right; }
.txt-left{ text-align: left;}
.txt-center{ text-align: center; }
.ov-auto{ overflow: auto; }
.relative{ position: relative; }
.thumb{ background-repeat: no-repeat; background-position: center center;  border: 1px solid #DFDFDF; height: 126px; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin-left: 4.5px; margin-right: -5px; }
.inline{ display: inline-block; }
#colorbox, #colorbox:before, #colorbox:after, #cboxWrapper, #cboxWrapper:after, #cboxWrapper:before, #cboxContent, #cboxContent:after, #cboxContent:before, #cboxLoadedContent, #cboxLoadedContent:after, #cboxLoadedContent:before, .cboxPhoto, .cboxPhoto:after, .cboxPhoto:before{ box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; }

/* -----------------------------------------
   Form and input
----------------------------------------- */
input[type=text], input[type=textarea], input[type=email], input[type=url], textarea{ padding: 5px; height: 25px; background: none; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1; border:none; box-shadow: none; margin: 0; }
textarea{ height: 150px !important; }
.holo-field{ position: relative; }
.holo-field-bckg{ bottom: 0; position: absolute; height: 5px; width: 100%; border-left: 1px solid #9C9C9C; border-bottom: 1px solid #9C9C9C; border-right: 1px solid #9C9C9C; }
button, .holo-btn{  }
button:hover, .holo-btn:hover{ }

/* -----------------------------------------
   Top-Bar  / Title-Bar
----------------------------------------- */
.action-bar, .bottom-bar{   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAMElEQVQIW2O0t7f///jxYwZ0wKikpPRfVlaWAV0SLAFSjS4Jl0CXRJFAlsSQgEkCANROF7zPhCTqAAAAAElFTkSuQmCC') repeat; }
.top-bar{ background: none !important; margin: 0 !important; }
.bar-title{ line-height: 16px !important; }
.action-bar-title { display: none !important; }
.p-menu.cats li > a{ min-width: 150px; text-align: center; }
.p-menu .has-dropdown li > a{ min-width: 150px; text-align: left;}
.p-menu > li:not(.name):hover, .p-menu > li:not(.name).active { background: none !important; }
.p-menu > li:not(.name) > a:hover, .p-menu > li:not(.name).active > a:hover { border-left: none; height: 45px; border-bottom: 4px solid #0099CC; color: white !important; }
.p-menu > li:not(.name):nth-of-type(2) > a:hover, .p-menu > li:not(.name):nth-of-type(2) > .active { border-bottom: 4px solid #0099CC; }
.p-menu > li:not(.name):nth-of-type(4) > a:hover, .p-menu > li:not(.name):nth-of-type(4) > .active { border-bottom: 4px solid #9933CC; }
.p-menu > li:not(.name):nth-of-type(6) > a:hover, .p-menu > li:not(.name):nth-of-type(6) > .active { border-bottom: 4px solid #669900; }
.p-menu > li:not(.name):nth-of-type(8) > a:hover, .p-menu > li:not(.name):nth-of-type(8) > .active { border-bottom: 4px solid #FF8800; }
.p-menu > li:not(.name):nth-of-type(10) > a:hover, .p-menu > li:not(.name):nth-of-type(10) > .active { border-bottom: 4px solid #CC0000; }
.p-menu > li:not(.name) li > label, .p-menu > li:not(.name) .dropdown h5 > a{ color: #0099CC !important; }
.p-menu > li:not(.name):nth-of-type(2) li > label, .p-menu > li:not(.name):nth-of-type(2) .dropdown h5 > a{ color: #0099CC !important; }
.p-menu > li:not(.name):nth-of-type(4) li > label, .p-menu > li:not(.name):nth-of-type(4) .dropdown h5 > a{ color: #9933CC !important; }
.p-menu > li:not(.name):nth-of-type(6) li > label, .p-menu > li:not(.name):nth-of-type(6) .dropdown h5 > a{ color: #669900 !important; }
.p-menu > li:not(.name):nth-of-type(8) li > label, .p-menu > li:not(.name):nth-of-type(8) .dropdown h5 > a{ color: #FF8800 !important; }
.p-menu > li:not(.name):nth-of-type(10) li > label, .p-menu > li:not(.name):nth-of-type(10) .dropdown h5 > a{ color: #CC0000 !important; }
.ic-overflow > a{ padding: 5px 0 0 !important; }
.ic-overflow > a:after{ border: none !important; }
.ic-overflow > a:hover, .ic-overflow > a:hover{ height: 45px !important; border-bottom: none !important; background: url("../images/stripe_select.png") repeat !important; }
.title-bar{ background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAN0lEQVQIW2P8DwQMWMDHjx8ZGLFJgiT4+fkxJWESIMNQdCJLoEiiS8AlsUmAJT98+PAfZDk2AABMZC2/YL4ZtAAAAABJRU5ErkJggg==') repeat; margin: 0; border-bottom: 1px solid #DFDFDF; }
.socials-buttons{ padding-right: 0; padding-left: 40px; }
.socials-buttons > .ic-btn{ margin-top: 10px; }
.title-logo{ padding-top: 10px; padding-bottom: 10px; }
.title-logo > span{ color: #AAAAAA;  }
.action-bar .dropdown{ padding: 0 !important; margin: 0 !important; }
.action-bar .dropdown li:not(.title){ border-bottom: 1px solid #3C3C3C; padding-bottom: 0 !important }
.action-bar .dropdown li:not(.title) > a{ padding: 15px 10px !important; }
.action-bar .dropdown li:not(.title):last-child{ padding-bottom: 0 !important; }
.header-overflow{ color: white; font-size: 28px; width: 50px; text-align: center; line-height: 35px !important }
/* -----------------------------------------
  Article
----------------------------------------- */
article{ margin: 10px 0; padding: 0 10px !important; background-color: #FDFDFD; border: 1px solid #DFDFDF; padding: 5px; -moz-box-shadow: 0px 3px 3px 0px #DFDFDF; -webkit-box-shadow: 0px 1px 1px 0px #DFDFDF; -o-box-shadow: 0px 1px 1px 0px #DFDFDF; box-shadow: 0px 1px 1px 0px #DFDFDF; filter: progid:DXImageTransform.Microsoft.Shadow(color=#DFDFDF, Direction=180, Strength=1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
article > h3.title{ margin-bottom: 2px; }
article > h3.title > a{ font-weight: lighter; color: #9C9C9C; }
article > .infos{ font-weight: normal; color: #9C9C9C; padding: 10px 0; border-top: 1px solid #DFDFDF; margin: 0 -10px !important; }
article > .infos a{ color: #9C9C9C; font-weight: bold; }
article > .details{ color: #9C9C9C; font-weight: bold; margin-bottom: 10px !important; }
article .content.summary{ margin-bottom: -1px; }
article .content{ -webkit-box-align: center; -moz-box-align: center; box-align: center; }
.archive-title{ margin-top: 10px; padding: 10px; font-style: italic; }
article .content h1, article .content h2, article .content h3, article .content h4, article .content h5{ color: #9C9C9C; font-weight: lighter; word-wrap: break-word; }
article .content h1{ font-size: 27px; }
article .content h2{ font-size: 23px; }
article .content h3{ font-size: 17px; }
article .content h4{ font-size: 14px; line-height: 1.4; }
article .content h5{ font-size: 12px; line-height: 1.4; }
article .content p{ font-size: 13px; line-height: 1.4; }
article .content ul > li{ margin-left: 30px; font-size: 13px; }
article .content .edito, article .content .info, article .content .warning, article .content .error, article .content .success{ margin: 20px 0; padding: 15px 30px 15px 15px; border-left: 5px solid #eee; line-height: 16px; font-size: 13px; color: #555555; }
article .content .edito, article .content .info h4, article .content .warning h4, article .content .error h4, article .content .success h4 { margin-top: 0; }
article .content .edito, article .content .info p:last-child, article .content .warning p:last-child, article .content .error p:last-child, article .content .success p:last-child { margin-bottom: 0; }
article .content .edito, article .content .info code, article .content .warning code, article .content .error code, article .content .success code, article .content .info .highlight, article .content .warning .highlight, article .content .error .highlight, article .content .success .highlight { background-color: #fff; }
article .content .error { background-color: #fcf2f2; border-color: #dFb5b4; }
article .content .warning { background-color: #fefbed; border-color: #f1e7bc; }
article .content .info { background-color: #f0f7fd; border-color: #d0e3f0; }
.comments, .credential{ background-color: #FDFDFD; border: 1px solid #DFDFDF; -moz-box-shadow: 0px 3px 3px 0px #DFDFDF; -webkit-box-shadow: 0px 1px 1px 0px #DFDFDF; -o-box-shadow: 0px 1px 1px 0px #DFDFDF; box-shadow: 0px 1px 1px 0px #DFDFDF; filter: progid:DXImageTransform.Microsoft.Shadow(color=#DFDFDF, Direction=180, Strength=1); -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-bottom: 10px; }
.credential .author{ border-top: 1px solid #DFDFDF; border-bottom: 1px solid #DFDFDF; background-color: #F0F0F0; overflow: auto; }
.credential .author > .picture{ float: left; width: 60px; }
.credential .author > .infos{ background-color: #FFFFFF; border-left:  1px solid #DFDFDF; padding: 5px; margin-left: 60px; min-height: 70px; }
.credential .author > .infos h5, .credential h4{ margin-top: 0; }
.credential h4, .credential h5, .credential h6, .comments h5{ color: #9C9C9C; }
.credential .connexe > h5, .comments h5{ padding: 10px 10px 5px; margin: 5px 10px 10px; border-bottom: 2px solid #9C9C9C; }
.credential .connexe > .row{ margin: 0 -1px; border-left: 1px solid #DFDFDF; }
.credential .connexe .post{ padding:0 !important; position: relative; border-top: 1px solid #DFDFDF; border-right: 1px solid #DFDFDF; height: 75px; background-color: #F0F0F0; }
.credential .connexe .post > .post-thumb{ width: 60px; float: left;  }
.credential .connexe .post > .link{ margin-left: 60px; height: 75px; border-left: 1px solid #DFDFDF; padding: 10px; background-color: #FFFFFF; }
.credential .connexe .post > .link > h5{ margin: 0; }
.comments .comment, .comments .pingback{ position: relative; min-height: 50px; border-top: 1px solid #DFDFDF; background-color: #F0F0F0; }
.comments .avatar{ width: 38px; float: left; }
.comments .comment-content{ padding: 5px; border-left: 1px solid #DFDFDF; background-color: #FFFFFF; margin-left: 38px; min-height: 50px; }
.comments .commentlist{ border-bottom: 1px solid #DFDFDF; }
.comments form{ padding: 10px 10px 0; margin-bottom: 0; }
.comments input, .comments textarea{ box-sizing: border-box; margin-bottom: 10px; }
.comments form .row{ margin-bottom: 5px; }
.comment .row{ margin: 0; }
.comment .row .columns{ padding-left: 0; }
article .tags, article .sharedaddy{ overflow: auto; border-top: 1px solid rgba(0, 0, 0, .13); padding: 10px 0 5px; margin: 0 -10px; }
article .tags h3, article .sharedaddy h3{ font-size: 12px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 3px 0 3px 10px !important; padding: 0; text-transform: none; letter-spacing: 0; line-height: 1; font-weight: bold; width: 15.625%; float: left; position: static; background: none; border: none; }
article .tags .tag-content{ width: 82.125%; float: right; margin: -2px 0 0 0; }
article .tags ul{ margin: 0 !important; padding: 0 !important; text-indent: 0; list-style: none; border: none; background: none; }
article .tags ul > li{ float: left; margin: 0 5px 5px 0 !important; display: block; padding: 0 !important; text-indent: 0; list-style: none; border: none; background: none; }
article .tags ul > li > a{ margin: 0; padding: 5px !important; display: inline-block; background: #EFEFEF; background: -moz-linear-gradient(top, #F7F7F7 0%, #EFEFEF 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EFEFEF)); background: -webkit-linear-gradient(top, #F7F7F7 0%,#EFEFEF 100%); background: -o-linear-gradient(top, #F7F7F7 0%,#EFEFEF 100%); background: -ms-linear-gradient(top, #F7F7F7 0%,#EFEFEF 100%); background: linear-gradient(top, #F7F7F7 0%,#EFEFEF 100%); border-radius: 3px; border: 1px solid #DDD !important; box-shadow: inset 0 1px 0 white; color: black !important; text-decoration: none; line-height: 1; font-size: 12px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; }
article .sharedaddy{ border-top : none; padding : 0; }
/* -----------------------------------------
  Sidebar
----------------------------------------- */
aside{ padding: 0 !important; }
aside .widget{ margin: 10px 0; border: 1px solid #DFDFDF; }
aside .widget .title{ background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAN0lEQVQIW2P8DwQMWMDHjx8ZGLFJgiT4+fkxJWESIMNQdCJLoEiiS8AlsUmAJT98+PAfZDk2AABMZC2/YL4ZtAAAAABJRU5ErkJggg==") repeat; border-bottom: 3px solid #33B5E5; padding: 10px 5px; text-align: center; color: #9C9C9C; margin: 0; }
aside > div:nth-of-type(1) .title, aside > div:nth-of-type(6) .title{ border-bottom: 3px solid #33B5E5; }
aside > div:nth-of-type(2) .title, aside > div:nth-of-type(7) .title{ border-bottom: 3px solid #AA66CC; }
aside > div:nth-of-type(3) .title, aside > div:nth-of-type(8) .title{ border-bottom: 3px solid #99CC00; }
aside > div:nth-of-type(4) .title, aside > div:nth-of-type(9) .title{ border-bottom: 3px solid #FFBB33; }
aside > div:nth-of-type(5) .title, aside > div:nth-of-type(10) .title{ border-bottom: 3px solid #FF4444; }
aside .widget .content{ background-color: #FCFCFC; border-bottom: 3px solid #33B5E5; }
aside > div:nth-of-type(1) .content, aside > div:nth-of-type(6) .content{ border-bottom: 3px solid #33B5E5; }
aside > div:nth-of-type(2) .content, aside > div:nth-of-type(7) .content{ border-bottom: 3px solid #AA66CC; }
aside > div:nth-of-type(3) .content, aside > div:nth-of-type(8) .content{ border-bottom: 3px solid #99CC00; }
aside > div:nth-of-type(4) .content, aside > div:nth-of-type(9) .content{ border-bottom: 3px solid #FFBB33; }
aside > div:nth-of-type(5) .content, aside > div:nth-of-type(10) .content{ border-bottom: 3px solid #FF4444; }
aside .widget .content ul{ margin: 0; }
aside .widget .content ul > li{ list-style: none; padding: 0; border-bottom: 1px solid #F0F0F0; }
aside .widget .content ul > li:last-child{ border-bottom: none; }
aside .widget .content ul > li
aside .widget .content ul > li > a{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
aside .widget .content a{ display: block; color: #8C8C8C; font-weight: bold; padding: 10px 10px 10px 15px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
aside .widget .content a:hover{ padding-left: 10px; border-left: 5px solid #33B5E5; }
aside > div:nth-of-type(1) .content a:hover, aside > div:nth-of-type(6) .content a:hover{ border-left: 5px solid #33B5E5;}
aside > div:nth-of-type(2) .content a:hover, aside > div:nth-of-type(7) .content a:hover{ border-left: 5px solid #AA66CC;}
aside > div:nth-of-type(3) .content a:hover, aside > div:nth-of-type(8) .content a:hover{ border-left: 5px solid #99CC00;}
aside > div:nth-of-type(4) .content a:hover, aside > div:nth-of-type(9) .content a:hover{ border-left: 5px solid #FFBB33;}
aside > div:nth-of-type(5) .content a:hover, aside > div:nth-of-type(10) .content a:hover{ border-left: 5px solid #FF4444;}
aside .widget .content a > span{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
aside .widget .content .small li > a{ font-size: small; }
aside .widget .content .small li > a > span.small{ font-size: smaller; }
aside > form{ margin: 10px 1px; }
aside > form.search > div{  }
aside > form.search input[type=text]{ padding: 0; height: 25px; background: none; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; box-flex: 1; border:none; box-shadow: none; margin: 0; }
aside > form.search input[type=text]:hover{ color: #33b5e5; }
aside > form.search button[type=submit]{ border:none; box-shadow: none; cursor: pointer; background: transparent; float: right;}
.search-box{ height: 25px; }
.search-box > .ic-action-small-search{ position: absolute; top: 0; left: 0; }
.search-box > input[type=text]{ width: auto; position: absolute; top: 0; left: 23px; right: 23px; }
.search-box > .ic-action-small-send{ position: absolute; top: 0; right: 0; }

/* ------------------------------------------
  Footer / Widgets
----------------------------------------- */
.bottom-bar{ color: #FFFFFF; margin: 0; padding: 10px 10px; width: 100%; }
footer .widget{ margin: 10px 0; }
footer .widget .title{ text-align: left; margin: 0; padding: 10px; }
footer div .title, footer div:nth-of-type(1) .title{ color: #9933CC; border-bottom: 2px solid #9933CC; }
footer div:nth-of-type(2) .title{ color: #FF8800; border-bottom: 2px solid #FF8800; }
footer div:nth-of-type(3) .title{ color: #CC0000; border-bottom: 2px solid #CC0000; }
footer div .content a:hover, footer div:nth-of-type(1) .content a:hover{ padding-left: 10px; border-left: 5px solid #9933CC; }
footer div:nth-of-type(2) .content a:hover{ padding-left: 10px; border-left: 5px solid #FF8800; }
footer div:nth-of-type(3) .content a:hover{ padding-left: 10px; border-left: 5px solid #CC0000; }
footer .widget .content ul > li{ display: block; list-style: none; border-bottom: 1px solid #9C9C9C; }
footer .widget .content a > span{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
footer .widget .small li > a{ font-size: small; }
footer .widget .small li > a > span.small{ font-size: smaller; }
footer .widget .content a{ display: block; color: #8C8C8C; font-weight: bold; padding: 10px 10px 10px 15px; }
footer .widget .content > .text{ color: #8C8C8C; padding: 10px; }
footer .site-info{ border-top: 1px solid #669900; padding: 10px; font-size: smaller; color: #669900 }
footer .widget .content{ color: #8C8C8C; }
footer .widget .textwidget{ padding: 10px; }

/* --------------------------------------------
  Pagination
------------------------------------------ */
.emm-paginate{ margin: 10px 5px; padding: 10px; position: relative; overflow: auto; }
.emm-paginate .emm-title, .emm-paginate .emm-next, .emm-paginate .emm-prev{ font-style: italic; color: #8C8C8C; }
.emm-paginate .emm-page{ display: inline-block; margin: 5px; border: 1px solid #9C9C9C; background-color: #F0F0F0; color: #8C8C8C; font-weight: bolder; padding: 4px; text-align: center; }
.emm-paginate .emm-page.emm-current{ color: #0F0F0F; border: 1px solid #0099CC; background-color: #33b5e5; }


/* -----------------------------------------
  Max Width: 940px
----------------------------------------- */
@media only screen and (max-width: 765px){
    .thumb{ margin-left: 4px; margin-right: 4px; }
}

@media only screen and (max-width: 940px) {
    .bar-title{ line-height: 16px !important; }
    .top-bar ul > li.name { background: none !important; }
    .action-bar-title { display: inline ! important; }
    .socials-buttons{ padding-left: 15px; padding-right: 15px; }
    .show-940{ display: inherit !important; }
    .hide-940{ display: none !important; }
    article > .infos .txt-right, article > .details .txt-right, .comment .row .txt-right{ text-align: left; }
    aside{ padding: 0 15px !important; }
    .p-menu.cats li > a{ min-width: 150px; text-align: left; }
    .p-menu > li:not(.name) > a:hover, .p-menu > li:not(.name).active > a:hover { padding-left: 18.5px !important; border-bottom: none; border-left: 4px solid #0099CC; }
    .p-menu > li:not(.name):nth-of-type(2) > a:hover, .p-menu > li:not(.name):nth-of-type(2) > .active { padding-left: 18.5px !important; border-bottom: none;  border-left: 4px solid #0099CC; }
    .p-menu > li:not(.name):nth-of-type(4) > a:hover, .p-menu > li:not(.name):nth-of-type(4) > .active { padding-left: 18.5px !important; border-bottom: none;  border-left: 4px solid #9933CC; }
    .p-menu > li:not(.name):nth-of-type(6) > a:hover, .p-menu > li:not(.name):nth-of-type(6) > .active { padding-left: 18.5px !important; border-bottom: none;  border-left: 4px solid #669900; }
    .p-menu > li:not(.name):nth-of-type(8) > a:hover, .p-menu > li:not(.name):nth-of-type(8) > .active { padding-left: 18.5px !important; border-bottom: none;  border-left: 4px solid #FF8800; }
    .p-menu > li:not(.name):nth-of-type(10) > a:hover, .p-menu > li:not(.name):nth-of-type(10) > .active { padding-left: 18.5px !important; border-bottom: none;  border-left: 4px solid #CC0000; }
    .p-menu .dropdown{ background: none !important; }
    article .content{ display: block; }
    article a.thumb{ margin: 0 auto; }
}

/* ------------------------------------------
  Wordpress fix
------------------------------------------ */
#wpstats{ display: none; }

/* ------------------------------------------
  Foundation reset
------------------------------------------ */
code{
    line-height: 15px;
    font-size: 12px;
    font-weight: inherit;
    padding: 3px 6px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
pre.prettyprint{
    margin-bottom: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}